<!DOCTYPE html>
<html>
<body>
<h2>Wilkommen beim Disco-Forum, <%= @user.vorname %> <%= @user.name %></h2>
<hr>
Danke dass sie sich bei unserem Forum registriert haben. Bitte überprüfen sie nochmal ihre Daten:
Benutzername : <%= @user.benutzername %>
....
Hier ist Validierungslink: <%= link_to "Hier klicken!", verificated_users_url(userunlock: @user.shash, host: @host) %>
</body>
</html>
