<h1>Ihr Benutzerkonto wurde gesperrt</h1>
<p>Ein Administrator war der Meinung, dass Sie es zu bunt getrieben haben. Sie haben die Möglichkeit, <b>eine</b> Nachricht an die Admins zu schreiben, in der Sie ihr Fehlverhalten erklären können und um Freischaltung bitten können.</p>

<%= render 'adminmessages/form' %>