<h1>Ihr Benutzerkonto wurde gesperrt!</h1>
<% if @permitted %>
	<p>Ein Administrator war der Meinung, dass Sie es zu bunt getrieben haben. Sie haben die Möglichkeit, <b>eine</b> Nachricht an die Moderatoren zu schreiben, in der Sie ihr Fehlverhalten erklären können und um Freischaltung bitten können.</p>

	<%= render 'adminmessages/form' %>
<% else %>
	<p>Sie haben ihre Nachricht an einen Moderator bereits verfasst. Sollte dem noch etwas hinzuzufügen sein, müssen Sie einen Forum-Administrator per Mail kontaktieren</p>
<% end %>