<h1>Topics</h1>

<table class="table table-striped">
  <thead>
     <tr>
      <th>Title</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @Latesttopics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic_path(topic) %></td>
        <% unless User.where(id: topic.user_id).empty? %>
          <td><%= gravatar(topic.user_id) %> <%= topic.user.benutzername %></td>
        <% else %>
          <td>Gelösche Person</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
