<div class="col-sm-6 col-xs-offset-3">
  <h1>Rolle des Nutzer ändern</h1>

  <div class="well">

    <%= simple_form_for([@user, @role]) do |f| %>
      <%= f.input :roles, as: :radio_buttons, label: 'Typ' %>

      <span class="pull-right">
        <%= link_to 'Abbrechen', :back || topic_path(:topic_id), class: 'btn btn-default' %>
        <%= f.submit 'Absenden', class: 'btn btn-danger' %>
      </span>
      <div class="clearfix" />

    <% end %>
  </div>
</div>