/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

 
#error_explanation {
	margin-bottom: 20px;
}

#error_explanation div {
	border: 1px solid black;
}

.alert-error {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-info;
}

.login {
  position: absolute;
  right: 100px;
  top: 20px;
}

.post {
  padding:10px 20px 10px;

  .user {
    width:50px;
    float:left;
    text-align: right;
    margin:5px 20px 5px 0;
    display: block;
  }

  .content {
    display:block;
  }

  .title {
    font-weight: bold;
    font-size: 1.2em;
  }

  .body {
    font-size:1.1em;
  }

  .footer {
    margin-top:10px;
    font-size:0.9em;
    vertical-align: bottom;
  }

  border-bottom: 1px solid #ddd;
}