// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 #header{
 margin: 0 auto;
    overflow: hidden;
    padding: 0 15px;
    background: #EEE;
    width: 1100px;
    text-align: center; }